html,
body {
    height: 100%;
    background: #FFFFFF;
    padding: 0;
    margin: 0;
    border: 0;
}

button {
    background: #FFFFFF;
    padding: px;
    margin: 0;
    border: 0;
}

a {text-decoration: none;}
ul li{list-style: none;}

[class*="__container"] {
    max-width: 1300px;
    margin: 0 auto;
}

/*--------------------*/


.navbar {
    background: #ffffff;
    position: fixed;
    height: 76px;
    width: 100%;
    z-index: 150;
    display: none;

}

.navbar__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.hamb {
    display: flex;
    align-items: center;
}

.hamb__field {
    padding: 15px 20px;
    cursor: pointer;
}

.popup {
position: fixed;
top: 76px;
left: -100%;
width: 100%;
height: 100%;
background-color: #ffffff;
z-index: 100;
transition: 0.3s;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.popup_open {
    left: 0;
}

.nav_item {
    font-family: 'Space Grotesk';
font-weight: 500;
font-size: 28px;
line-height: 20px;
color: #000000;
opacity: 0.5;
margin-bottom: 80px;
text-align: center;
}

.menu__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.bar {
    display: block;
    width: 18px;
    height: 2px;
    margin: 3px auto;
    background-color: #000000;
    transition: 0.2s;
}

/*------------------*/
.header__container {
    height: 76px;
    position: relative;
    
}

.nav {
   max-width: 1276px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav__items {
    display: flex;
    align-items: center;
}

.nav__item {
    font-family: 'Space Grotesk';
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #000000;
opacity: 0.5;
margin-right: 32px;
}

/*----------------------*/

.create-and-sell {
    padding-top: 76px;
}

.create-and-sell-box {
    max-width: 1300px;
    max-height: 574px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-and-sell-title {
    max-width: 856px;
font-family: 'Syne';
font-weight: 700;
font-size: 80px;
line-height: 96px;
text-align: center;
color: #000000;
text-shadow: -5px 5px 0px #D7D7D7;
margin-bottom: 32px;
}

.create-and-sell-subtitle {
    max-width: 760px;
font-family: 'Space Grotesk';
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #532C59;
margin-bottom: 32px;
}

.button {
    flex: 0 0 114px;
}

.button-link {
    display: inline-block;
    font-family: 'Syne';
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
padding: 16px 20px;
background: #532C59;
border-radius: 15px;
}

.shape1 {
    position: absolute;
    left: 53px;
    top: 20px;

}

.shape2 {
    position: absolute;
    right: 167px;
    top: 67px;
}

.shape3 {
    position: absolute;
    left: -16px;
    top: 298px;
}

.shape4 {
    position: absolute;
    right: 33px;
    top: 387px;
}

/*------------------*/

.logos-box {
    margin: 0 auto;
    max-width: 1100.4px;
    min-height: 120px;
    max-height: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*------------------------*/

.cards {
    margin-bottom: 80px;
}

.cards-title-box {
    max-width: 1300px;
    min-height: 120px;
    margin-top: 80px;
    margin-bottom: 64px;
}

.title {
font-family: 'Syne';
font-weight: 700;
font-size: 48px;
line-height: 64px;
text-align: center;
color: #000000;
margin: 0 auto;
}

.cards-title {
    margin-bottom: 16px;
}

.subtitle {
    max-width: 820px;
    font-family: 'Space Grotesk';
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #532C59;
margin: 0 auto;
}

.cards-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-column-gap: 32px;
    grid-row-gap: 64px;
}

.card {
    width: 412px;
    height: 548px;
}

.card-img {
    margin-bottom: 16px;
}

.card-title {
    font-family: 'Syne';
font-weight: 600;
font-size: 32px;
line-height: 42px;
text-align: center;
color: #000000;
margin-bottom: 12px;
}

.card-subtitle {
font-family: 'Space Grotesk';
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #532C59;
}

/*------------------------*/
.our-team {
    margin-bottom: 160px;
}

.our-team-title {
    margin-bottom: 24px;
}

.team-box {
    margin-top: 80px;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.team-items-box {
    min-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.team-item {
    max-width: 301px;
    min-height: 156px;
    display: flex;
    flex-direction: column;
    grid-row-gap: 12px;
    justify-content: center;
    align-items: center;
}

.team-item-title {
    font-family: 'Space Grotesk';
font-weight: 700;
font-size: 24px;
line-height: 32px;
text-align: center;
color: #000000;
}

.team-item-subtitle {
    font-family: 'Space Grotesk';
font-weight: 300;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #532C59;
}

/*------------------------*/

.we-provide {
    
}

.we-provide-title {
    margin-bottom: 24px;
}

.we-provide-box {
    margin-top: 80px;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.we-provide-item {
    max-width: 301px;
    min-height: 126px;
    display: flex;
    flex-direction: column;
    grid-row-gap: 12px;
    justify-content: center;
    align-items: center;
}

.we-provide-item-title {
    font-family: 'Space Grotesk';
font-weight: 700;
font-size: 28px;
line-height: 36px;
text-align: center;
color: #000000;
}

.we-provide-item-subtitle {
    font-family: 'Space Grotesk';
font-weight: 300;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #532C59;
}

/*-------------------------*/

.testimonials-title {
    margin-top: 220px;
}

.test-cards-box {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.test-cards-row {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.tcard {
    border: 1px solid #D6BCFA;
border-radius: 10px;
padding: 24px;
display: flex;
flex-direction: column;
gap: 16px;
max-width: 364px;
}

.card-person {
    height: 48px;
    display: flex;
flex-direction: row;
align-items: center;
gap: 8px;
}

.card-name {
font-family: 'Space Grotesk';
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #000000;
}

.card-nickname {
font-family: 'Space Grotesk';
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #000000;
opacity: 0.5;
}

.card-comment {
    font-family: 'Space Grotesk';
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #532C59;
}

/*------------------------------*/

.questions {
    margin-top: 184px;
}

.questions-text {
    max-width: 412px;
}

.questions-title {
font-family: 'Syne';
font-weight: 600;
font-size: 48px;
line-height: 64px;
color: #000000;
margin-bottom: 24px;
}

.questions-subtitle {
    font-family: 'Space Grotesk';
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #532C59;
}

.questions-items-box {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.question-cards-row-box {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.question-cards-row {
    display: flex;
flex-direction: column;
gap: 32px;
}

.question-card {
    max-width: 364px;
    padding: 24px;
    border: 1px solid #D6BCFA;
    border-radius: 15px;
}

.question-card-title-box {
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
gap: 32px;

}

.question-card-title {
font-family: 'Space Grotesk';
font-weight: 500;
font-size: 20px;
line-height: 26px;
color: #000000;
opacity: 0.8;
}

.question-card-button {
padding: 9px 7px;
transition: 0.3s;
}

.question-card-button-active {
    transform: rotate(180deg);
}

.question-card-description {
    display: none;
    margin-top: 12px;
    font-family: 'Space Grotesk';
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #532C59;
}

.question-card-description-active {
    display: block;
}


/*---------------------------*/

.ready-to-sell-box {
    margin-top: 114px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    min-height: 446px;
    background: #FCFAFF;
    border: 1px solid #D6BCFA;
    box-shadow: inset 0px 0px 50px #F8E0FA;
    border-radius: 60px;
}

.ready-to-sell-text {
    max-width: 710px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

}

.ready-to-sell-title {
    font-family: 'Syne';
font-weight: 700;
font-size: 48px;
line-height: 64px;
text-align: center;
color: #000000;
}

.ready-to-sell-subtitle {
    font-family: 'Space Grotesk';
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #532C59;
}

/*----------------------------*/

.footer-nav-box {
    margin-top: 160px;
    height: 40px;
    display: flex;
flex-direction: row;
justify-content: space-between;
}

.footer-nav {
display: flex;
flex-direction: row;
align-items: center;
gap: 24px;
}

.footer-nav-link {
    font-family: 'Space Grotesk';
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #000000;
opacity: 0.5;
}

.footer-line {
    margin-top: 40px;
    max-width: 1300px;
    border: 1px solid #CCD5DF;
}

.copyright {
    padding: 40px 0px;
    font-family: 'Space Grotesk';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #000000;
opacity: 0.5;
}

/*-------------------*/

@media (max-width: 1301px) {
    [class*="__container"] {
    max-width: 1000px;
}
}

@media (max-width: 1001px) {
    [class*="__container"] {
    max-width: 768px;
}

.logos-box {
    width: 500px;
}

.cards-box {
    grid-column-gap: 24px;
    grid-row-gap: 48px;
}

.card {
    width: 240px;
    height: 516px;
}

.card-img {
    width: 240.67px;
    height: 396px;
    overflow: hidden;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img img {
    display: block;
}

.card-title {
    font-size: 24px;
    line-height: 32px;
}

.we-provide-box {
    row-gap: 40px;
}
}

@media (max-width:768px) {
.nav {display: none}
.navbar {display: block;}

[class*="__container"] {
    max-width: 768px; }

.header-burger__container {
    margin: 0;
}

.header__logo {
    padding-right: 5px;
}

.create-and-sell-title {
    font-size: 72px;
line-height: 88px;
}

.logos-box img {
    width: 135px;
}

.title {
    font-size: 40px;
line-height: 56px;
}

.card {
    width: 240.66px;
    height: 516px;
}

.card7 {
    display: none;
}

.card8 {
    display: none;
}

.card9 {
    display: none;
}

.cards-box {
    grid-column-gap: 24px;
    grid-row-gap: 48px
}

.team-box {
    margin-top: 64px;
}

.our-team {
    margin-bottom: 96px;
}

.testimonials-title {
    margin-top: 184px;
}

.test-cards-box {
    justify-content: space-around;
}

.tcard {
    max-width: 200px;
}

.team-box, .team-items-box {
    gap: 48px;
}

.row3 {
    display: none;
}

.questions-text {
    padding-left: 10px;
}

.question-card-button {
    padding: 10px 7px;
}

.question-cards-row-box {
    flex-wrap: wrap;
}

.rts1-img {display: none;}

.rts2-img {display: none;}

.ready-to-sell-box {
    justify-content: center;
}

.ready-to-sell-text {
    max-width: 388px;
}

.ready-to-sell-title {
    font-size: 36px;
line-height: 48px;
}

.ready-to-sell-subtitle {
    font-size: 12px;
line-height: 18px;
}

.footer-logo {display: none;}

.footer-nav-box {
    justify-content: space-around;
}

.footer-nav {
    gap: 12px;

}
}

@media (max-width:525px) {
.nav {display: none}
.navbar {display: block;}

[class*="__container"] {
    max-width: 480px;
    padding: 0px 16px; }

.header-burger__container {
    margin: 0;
}

.menu {
    padding: 0;
}

.header__logo {
    padding-right: 5px;
}

.create-and-sell {
    padding: 0;
}

.create-and-sell-box {
    max-height: 100vh;
}

.create-and-sell-title {
    font-size: 36px;
line-height: 56px;
}

.logos-box {
    max-width: 278px;
}

.logos-box img {
    width: 85px;
}

.title {
    font-size: 36px;
line-height: 48px;
}

.card3 {
    display: none;
}

.card4 {
    display: none;
}

.card5 {
    display: none;
}

.card6 {
    display: none;
}

.card7 {
    display: none;
}

.card8 {
    display: none;
}

.card9 {
    display: block;
}

.cards-box {
    grid-column-gap: 24px;
    grid-row-gap: 48px
}

.card-img, .card {
    width: 278px;
}

.card-subtitle {
    font-size: 14px;
line-height: 20px;
}

.team-box {
    margin-top: 64px;
}

.team-item-title {
font-weight: 500;
font-size: 20px;
line-height: 26px;
}

.our-team {
    margin-bottom: 96px;
}

.we-provide-item-subtitle {
    font-size: 12px;
line-height: 18px;
}

.testimonials-title {
    margin-top: 96px;
}

.card-name {
font-size: 14px;
line-height: 20px;
}

.card-nickname {
font-weight: 300;
font-size: 14px;
line-height: 20px;
}

.card-comment {
    font-weight: 400;
font-size: 12px;
line-height: 18px;
}

.test-cards-box {
    margin-top: 32px;
    justify-content: space-around;
}

.tcard {
    max-width: 200px;
}

.team-box, .team-items-box {
    gap: 24px;
}

.row2 {
    gap: 16px;
}

.row3, .row1 {
    display: none;
}

.questions {
    margin-top: 48px;
}

.questions-text {
    padding: 0px;
    text-align: center;
}

.question-card-button {
    padding: 10px 7px;
}

.questions-items-box {
    flex-direction: column;
}

.question-cards-row-box {
    flex-wrap: wrap;
}

.question-cards-row {
    gap: 16px;
}

.rts1-img {display: none;}

.rts2-img {display: none;}

.ready-to-sell-box {
    margin-top: 48px;
    justify-content: center;
}

.ready-to-sell-text {
    max-width: 388px;
}

.ready-to-sell-title {
    font-size: 36px;
line-height: 48px;
}

.ready-to-sell-subtitle {
    font-size: 12px;
line-height: 18px;
}

.footer-line {
    margin-top: 0;
    width: 100%;
}

.footer-logo {display: block;}

.footer__wrapper {display: none;}

.footer-mobile-box {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.footer-mobile-nav {
    display: flex;
    flex-direction: row;
    gap: 82px;
}

.mobile-nav-items {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.copyright {
    padding: 0px 0px 32px 0px;
}


}