.light {
    transition: 0.5s;
    background-color: #ffffff;
    color: #191919;
}

.dark {
    transition: 0.5s;
    background-color: #191919;
    color: #ffffff;
}

.light_button {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #191919;
    background-color: #ffffff;
    border-radius: 20px;
    border: 2px solid #191919;
    cursor: pointer;
    transition: 0.5s;
}

.dark_button {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    background-color: #191919;
    border-radius: 20px;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: 0.5s;
}