html,
body {
    height: 100%;
    background: #191919;
    padding: 0;
    margin: 0;
    border: 0;
    color: #ffffff;
}

a {text-decoration: none;}
ul li{list-style: none;}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
}