footer {
    border-top: 2px dashed #f3f3f3;
    padding: 10px 0 20px 0;
}

.list {
    margin-left: 100px;
}

.list li a {
    font-size: 20px;
    color: #000;
}

.list li {
    padding: 10px 5px;
}

.list li:not(:first-of-type):hover {
    background: #f3f3f3;
    cursor: pointer;
}

.list li:first-of-type {
    font-weight: 600;
    font-size: 30px;
}

.footer_logo {
    font-family: 'font';
    font-size: 50px;
    color: #323232;
    margin-top: 10px;
}
