@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300;600&display=swap');
@font-face {
    font-family: "font";
    src: url("../fonts/neo-latina-demo-FFP.ttf") format("truetype");
}

html,
body {
    padding: 0;
    margin: 0;
    border: 0;
    background: #ffffff;
    font-family: "Ysabeau SC";
}

button {
    background: #FFFFFF;
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
}
ul, li{
    list-style: none; 
    padding: 0; 
    margin: 0;
}

input[type='checkbox'] {
    margin: 0 5px 0 0;
    padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number]{
    appearance: textfield;
    -moz-appearance: textfield;
    outline: none;
    padding: 0;
}


[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
}

.footer__container {
    display: flex;
    justify-content: center;
}